In [3]:
import pandas as pd

In [4]:
df = pd.read_excel(r"/Users/saideexith/datacleaning/Amazon Dashboard/Amazon Sale Report - YT.xlsx")
df

,Unnamed: 0,Sales Data,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,currency,ship-city,ship-state,ship-postal-code,ship-country,fulfilled-by,NaN
1,405-8078784-5731545,2022-04-30 00:00:00,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B07STS2W9T,NaN,0,INR,MUMBAI,MAHARASHTRA,400081,IN,Easy Ship,NaN
2,171-9198151-1101146,2022-04-30 00:00:00,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B07N6TD2WL,Shipped,1,INR,BENGALURU,KARNATAKA,560085,IN,Easy Ship,NaN
3,404-0687676-7273146,2022-04-30 00:00:00,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WJ6WPN1,Shipped,1,INR,NAVI MUMBAI,MAHARASHTRA,410210,IN,NaN,NaN
4,403-9615377-8133951,2022-04-30 00:00:00,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B07PYSF4WZ,NaN,0,INR,PUDUCHERRY,PUDUCHERRY,605008,IN,Easy Ship,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,406-6001380-7673107,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL,B07MR366FG,Shipped,1,INR,HYDERABAD,TELANGANA,500013,IN,NaN,0.0
128972,402-9551604-7544318,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,M,B07YSF7JNF,Shipped,1,INR,GURUGRAM,HARYANA,122004,IN,NaN,0.0
128973,407-9547469-3152358,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL,B00LSR9U2S,Shipped,1,INR,HYDERABAD,TELANGANA,500049,IN,NaN,0.0
128974,402-6184140-0545956,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,XS,B077PLT2SP,Shipped,1,INR,Halol,Gujarat,389350,IN,NaN,0.0
128975,408-7436540-8728312,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,S,B07JHDT51M,Shipped,1,INR,Raipur,CHHATTISGARH,492014,IN,NaN,0.0

In [5]:
df.drop_duplicates()

,Unnamed: 0,Sales Data,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,currency,ship-city,ship-state,ship-postal-code,ship-country,fulfilled-by,NaN
1,405-8078784-5731545,2022-04-30 00:00:00,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B07STS2W9T,NaN,0,INR,MUMBAI,MAHARASHTRA,400081,IN,Easy Ship,NaN
2,171-9198151-1101146,2022-04-30 00:00:00,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B07N6TD2WL,Shipped,1,INR,BENGALURU,KARNATAKA,560085,IN,Easy Ship,NaN
3,404-0687676-7273146,2022-04-30 00:00:00,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WJ6WPN1,Shipped,1,INR,NAVI MUMBAI,MAHARASHTRA,410210,IN,NaN,NaN
4,403-9615377-8133951,2022-04-30 00:00:00,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B07PYSF4WZ,NaN,0,INR,PUDUCHERRY,PUDUCHERRY,605008,IN,Easy Ship,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,406-6001380-7673107,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL,B07MR366FG,Shipped,1,INR,HYDERABAD,TELANGANA,500013,IN,NaN,0.0
128972,402-9551604-7544318,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,M,B07YSF7JNF,Shipped,1,INR,GURUGRAM,HARYANA,122004,IN,NaN,0.0
128973,407-9547469-3152358,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL,B00LSR9U2S,Shipped,1,INR,HYDERABAD,TELANGANA,500049,IN,NaN,0.0
128974,402-6184140-0545956,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,XS,B077PLT2SP,Shipped,1,INR,Halol,Gujarat,389350,IN,NaN,0.0
128975,408-7436540-8728312,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,S,B07JHDT51M,Shipped,1,INR,Raipur,CHHATTISGARH,492014,IN,NaN,0.0

In [6]:
df = df.drop_duplicates()
df

,Unnamed: 0,Sales Data,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,currency,ship-city,ship-state,ship-postal-code,ship-country,fulfilled-by,NaN
1,405-8078784-5731545,2022-04-30 00:00:00,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B07STS2W9T,NaN,0,INR,MUMBAI,MAHARASHTRA,400081,IN,Easy Ship,NaN
2,171-9198151-1101146,2022-04-30 00:00:00,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B07N6TD2WL,Shipped,1,INR,BENGALURU,KARNATAKA,560085,IN,Easy Ship,NaN
3,404-0687676-7273146,2022-04-30 00:00:00,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WJ6WPN1,Shipped,1,INR,NAVI MUMBAI,MAHARASHTRA,410210,IN,NaN,NaN
4,403-9615377-8133951,2022-04-30 00:00:00,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B07PYSF4WZ,NaN,0,INR,PUDUCHERRY,PUDUCHERRY,605008,IN,Easy Ship,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,406-6001380-7673107,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL,B07MR366FG,Shipped,1,INR,HYDERABAD,TELANGANA,500013,IN,NaN,0.0
128972,402-9551604-7544318,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,M,B07YSF7JNF,Shipped,1,INR,GURUGRAM,HARYANA,122004,IN,NaN,0.0
128973,407-9547469-3152358,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL,B00LSR9U2S,Shipped,1,INR,HYDERABAD,TELANGANA,500049,IN,NaN,0.0
128974,402-6184140-0545956,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,XS,B077PLT2SP,Shipped,1,INR,Halol,Gujarat,389350,IN,NaN,0.0
128975,408-7436540-8728312,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,S,B07JHDT51M,Shipped,1,INR,Raipur,CHHATTISGARH,492014,IN,NaN,0.0

In [7]:
df.drop(columns = "Unnamed: 13")

,Unnamed: 0,Sales Data,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,ship-city,ship-state,ship-postal-code,ship-country,fulfilled-by,NaN
1,405-8078784-5731545,2022-04-30 00:00:00,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B07STS2W9T,NaN,0,MUMBAI,MAHARASHTRA,400081,IN,Easy Ship,NaN
2,171-9198151-1101146,2022-04-30 00:00:00,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B07N6TD2WL,Shipped,1,BENGALURU,KARNATAKA,560085,IN,Easy Ship,NaN
3,404-0687676-7273146,2022-04-30 00:00:00,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WJ6WPN1,Shipped,1,NAVI MUMBAI,MAHARASHTRA,410210,IN,NaN,NaN
4,403-9615377-8133951,2022-04-30 00:00:00,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B07PYSF4WZ,NaN,0,PUDUCHERRY,PUDUCHERRY,605008,IN,Easy Ship,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,406-6001380-7673107,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL,B07MR366FG,Shipped,1,HYDERABAD,TELANGANA,500013,IN,NaN,0.0
128972,402-9551604-7544318,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,M,B07YSF7JNF,Shipped,1,GURUGRAM,HARYANA,122004,IN,NaN,0.0
128973,407-9547469-3152358,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL,B00LSR9U2S,Shipped,1,HYDERABAD,TELANGANA,500049,IN,NaN,0.0
128974,402-6184140-0545956,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,XS,B077PLT2SP,Shipped,1,Halol,Gujarat,389350,IN,NaN,0.0
128975,408-7436540-8728312,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,S,B07JHDT51M,Shipped,1,Raipur,CHHATTISGARH,492014,IN,NaN,0.0

In [15]:
df = df.drop(columns = "Unnamed: 13")

In [8]:
df = df.drop(columns = "Unnamed: 17")

In [17]:
df

,Unnamed: 0,Sales Data,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 18,Unnamed: 19
0,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,ship-city,ship-state,ship-postal-code,fulfilled-by,NaN
1,405-8078784-5731545,2022-04-30 00:00:00,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B07STS2W9T,NaN,0,MUMBAI,MAHARASHTRA,400081,Easy Ship,NaN
2,171-9198151-1101146,2022-04-30 00:00:00,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B07N6TD2WL,Shipped,1,BENGALURU,KARNATAKA,560085,Easy Ship,NaN
3,404-0687676-7273146,2022-04-30 00:00:00,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WJ6WPN1,Shipped,1,NAVI MUMBAI,MAHARASHTRA,410210,NaN,NaN
4,403-9615377-8133951,2022-04-30 00:00:00,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B07PYSF4WZ,NaN,0,PUDUCHERRY,PUDUCHERRY,605008,Easy Ship,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,406-6001380-7673107,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL,B07MR366FG,Shipped,1,HYDERABAD,TELANGANA,500013,NaN,0.0
128972,402-9551604-7544318,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,M,B07YSF7JNF,Shipped,1,GURUGRAM,HARYANA,122004,NaN,0.0
128973,407-9547469-3152358,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL,B00LSR9U2S,Shipped,1,HYDERABAD,TELANGANA,500049,NaN,0.0
128974,402-6184140-0545956,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,XS,B077PLT2SP,Shipped,1,Halol,Gujarat,389350,NaN,0.0
128975,408-7436540-8728312,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,S,B07JHDT51M,Shipped,1,Raipur,CHHATTISGARH,492014,NaN,0.0

In [9]:
df = df.drop(columns="Unnamed: 16")

In [10]:
df = df.drop(columns = "Unnamed: 7")

In [11]:
df = df.drop(columns = "Unnamed: 6")

In [12]:
df = df.drop(columns = "Unnamed: 10")

In [22]:
df

,Unnamed: 0,Sales Data,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 8,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 14,Unnamed: 15,Unnamed: 18,Unnamed: 19
0,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,ship-city,ship-state,fulfilled-by,NaN
1,405-8078784-5731545,2022-04-30 00:00:00,Cancelled,Merchant,Amazon.in,Standard,Set,S,NaN,0,MUMBAI,MAHARASHTRA,Easy Ship,NaN
2,171-9198151-1101146,2022-04-30 00:00:00,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,kurta,3XL,Shipped,1,BENGALURU,KARNATAKA,Easy Ship,NaN
3,404-0687676-7273146,2022-04-30 00:00:00,Shipped,Amazon,Amazon.in,Expedited,kurta,XL,Shipped,1,NAVI MUMBAI,MAHARASHTRA,NaN,NaN
4,403-9615377-8133951,2022-04-30 00:00:00,Cancelled,Merchant,Amazon.in,Standard,Western Dress,L,NaN,0,PUDUCHERRY,PUDUCHERRY,Easy Ship,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,406-6001380-7673107,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,kurta,XL,Shipped,1,HYDERABAD,TELANGANA,NaN,0.0
128972,402-9551604-7544318,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,Set,M,Shipped,1,GURUGRAM,HARYANA,NaN,0.0
128973,407-9547469-3152358,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,Western Dress,XXL,Shipped,1,HYDERABAD,TELANGANA,NaN,0.0
128974,402-6184140-0545956,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,Set,XS,Shipped,1,Halol,Gujarat,NaN,0.0
128975,408-7436540-8728312,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,Set,S,Shipped,1,Raipur,CHHATTISGARH,NaN,0.0

In [13]:
df = df.drop(columns = "Unnamed: 0")

In [14]:
df

,Sales Data,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 8,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 18,Unnamed: 19
0,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,ship-city,ship-state,fulfilled-by,NaN
1,2022-04-30 00:00:00,Cancelled,Merchant,Amazon.in,Standard,Set,S,NaN,0,INR,MUMBAI,MAHARASHTRA,Easy Ship,NaN
2,2022-04-30 00:00:00,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,kurta,3XL,Shipped,1,INR,BENGALURU,KARNATAKA,Easy Ship,NaN
3,2022-04-30 00:00:00,Shipped,Amazon,Amazon.in,Expedited,kurta,XL,Shipped,1,INR,NAVI MUMBAI,MAHARASHTRA,NaN,NaN
4,2022-04-30 00:00:00,Cancelled,Merchant,Amazon.in,Standard,Western Dress,L,NaN,0,INR,PUDUCHERRY,PUDUCHERRY,Easy Ship,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,kurta,XL,Shipped,1,INR,HYDERABAD,TELANGANA,NaN,0.0
128972,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,Set,M,Shipped,1,INR,GURUGRAM,HARYANA,NaN,0.0
128973,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,Western Dress,XXL,Shipped,1,INR,HYDERABAD,TELANGANA,NaN,0.0
128974,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,Set,XS,Shipped,1,INR,Halol,Gujarat,NaN,0.0
128975,2022-05-31 00:00:00,Shipped,Amazon,Amazon.in,Expedited,Set,S,Shipped,1,INR,Raipur,CHHATTISGARH,NaN,0.0

In [15]:
df = df.drop(columns = "Unnamed: 4")

In [16]:
df

,Sales Data,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 8,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 18,Unnamed: 19
0,Date,Status,Fulfilment,ship-service-level,Category,Size,Courier Status,Qty,currency,ship-city,ship-state,fulfilled-by,NaN
1,2022-04-30 00:00:00,Cancelled,Merchant,Standard,Set,S,NaN,0,INR,MUMBAI,MAHARASHTRA,Easy Ship,NaN
2,2022-04-30 00:00:00,Shipped - Delivered to Buyer,Merchant,Standard,kurta,3XL,Shipped,1,INR,BENGALURU,KARNATAKA,Easy Ship,NaN
3,2022-04-30 00:00:00,Shipped,Amazon,Expedited,kurta,XL,Shipped,1,INR,NAVI MUMBAI,MAHARASHTRA,NaN,NaN
4,2022-04-30 00:00:00,Cancelled,Merchant,Standard,Western Dress,L,NaN,0,INR,PUDUCHERRY,PUDUCHERRY,Easy Ship,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,2022-05-31 00:00:00,Shipped,Amazon,Expedited,kurta,XL,Shipped,1,INR,HYDERABAD,TELANGANA,NaN,0.0
128972,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,M,Shipped,1,INR,GURUGRAM,HARYANA,NaN,0.0
128973,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Western Dress,XXL,Shipped,1,INR,HYDERABAD,TELANGANA,NaN,0.0
128974,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,XS,Shipped,1,INR,Halol,Gujarat,NaN,0.0
128975,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,S,Shipped,1,INR,Raipur,CHHATTISGARH,NaN,0.0

In [17]:
df["Unnamed: 11"] = df["Unnamed: 11"].fillna('cancelled')

In [18]:
df

,Sales Data,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 8,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 18,Unnamed: 19
0,Date,Status,Fulfilment,ship-service-level,Category,Size,Courier Status,Qty,currency,ship-city,ship-state,fulfilled-by,NaN
1,2022-04-30 00:00:00,Cancelled,Merchant,Standard,Set,S,cancelled,0,INR,MUMBAI,MAHARASHTRA,Easy Ship,NaN
2,2022-04-30 00:00:00,Shipped - Delivered to Buyer,Merchant,Standard,kurta,3XL,Shipped,1,INR,BENGALURU,KARNATAKA,Easy Ship,NaN
3,2022-04-30 00:00:00,Shipped,Amazon,Expedited,kurta,XL,Shipped,1,INR,NAVI MUMBAI,MAHARASHTRA,NaN,NaN
4,2022-04-30 00:00:00,Cancelled,Merchant,Standard,Western Dress,L,cancelled,0,INR,PUDUCHERRY,PUDUCHERRY,Easy Ship,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
128971,2022-05-31 00:00:00,Shipped,Amazon,Expedited,kurta,XL,Shipped,1,INR,HYDERABAD,TELANGANA,NaN,0.0
128972,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,M,Shipped,1,INR,GURUGRAM,HARYANA,NaN,0.0
128973,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Western Dress,XXL,Shipped,1,INR,HYDERABAD,TELANGANA,NaN,0.0
128974,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,XS,Shipped,1,INR,Halol,Gujarat,NaN,0.0
128975,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,S,Shipped,1,INR,Raipur,CHHATTISGARH,NaN,0.0

In [19]:
df = df.drop(columns = "Unnamed: 19")

In [20]:
df

,Sales Data,Unnamed: 2,Unnamed: 3,Unnamed: 5,Unnamed: 8,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 18
0,Date,Status,Fulfilment,ship-service-level,Category,Size,Courier Status,Qty,currency,ship-city,ship-state,fulfilled-by
1,2022-04-30 00:00:00,Cancelled,Merchant,Standard,Set,S,cancelled,0,INR,MUMBAI,MAHARASHTRA,Easy Ship
2,2022-04-30 00:00:00,Shipped - Delivered to Buyer,Merchant,Standard,kurta,3XL,Shipped,1,INR,BENGALURU,KARNATAKA,Easy Ship
3,2022-04-30 00:00:00,Shipped,Amazon,Expedited,kurta,XL,Shipped,1,INR,NAVI MUMBAI,MAHARASHTRA,NaN
4,2022-04-30 00:00:00,Cancelled,Merchant,Standard,Western Dress,L,cancelled,0,INR,PUDUCHERRY,PUDUCHERRY,Easy Ship
...,...,...,...,...,...,...,...,...,...,...,...,...
128971,2022-05-31 00:00:00,Shipped,Amazon,Expedited,kurta,XL,Shipped,1,INR,HYDERABAD,TELANGANA,NaN
128972,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,M,Shipped,1,INR,GURUGRAM,HARYANA,NaN
128973,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Western Dress,XXL,Shipped,1,INR,HYDERABAD,TELANGANA,NaN
128974,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,XS,Shipped,1,INR,Halol,Gujarat,NaN
128975,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,S,Shipped,1,INR,Raipur,CHHATTISGARH,NaN

In [21]:
df.rename(columns = {'Unnamed: 2':'Status'}, inplace = True)

In [38]:
df

,Sales Data,Status,Unnamed: 3,Unnamed: 5,Unnamed: 8,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 14,Unnamed: 15,Unnamed: 18
0,Date,Status,Fulfilment,ship-service-level,Category,Size,Courier Status,Qty,ship-city,ship-state,fulfilled-by
1,2022-04-30 00:00:00,Cancelled,Merchant,Standard,Set,S,cancelled,0,MUMBAI,MAHARASHTRA,Easy Ship
2,2022-04-30 00:00:00,Shipped - Delivered to Buyer,Merchant,Standard,kurta,3XL,Shipped,1,BENGALURU,KARNATAKA,Easy Ship
3,2022-04-30 00:00:00,Shipped,Amazon,Expedited,kurta,XL,Shipped,1,NAVI MUMBAI,MAHARASHTRA,NaN
4,2022-04-30 00:00:00,Cancelled,Merchant,Standard,Western Dress,L,cancelled,0,PUDUCHERRY,PUDUCHERRY,Easy Ship
...,...,...,...,...,...,...,...,...,...,...,...
128971,2022-05-31 00:00:00,Shipped,Amazon,Expedited,kurta,XL,Shipped,1,HYDERABAD,TELANGANA,NaN
128972,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,M,Shipped,1,GURUGRAM,HARYANA,NaN
128973,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Western Dress,XXL,Shipped,1,HYDERABAD,TELANGANA,NaN
128974,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,XS,Shipped,1,Halol,Gujarat,NaN
128975,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,S,Shipped,1,Raipur,CHHATTISGARH,NaN

In [22]:
df.rename(columns = {'Unnamed: 3':'Fulfilment'}, inplace = True)
df.rename(columns = {'Unnamed: 5':'ship-service-level'}, inplace = True)
df.rename(columns = {'Unnamed: 8':'Category'}, inplace = True)
df.rename(columns = {'Unnamed: 9':'Size'}, inplace = True)
df.rename(columns = {'Unnamed: 11':'Courier Status'}, inplace = True)
df.rename(columns = {'Unnamed: 12':'Quantity'}, inplace = True)
df.rename(columns = {'Unnamed: 14':'ship-city'}, inplace = True)
df.rename(columns = {'Unnamed: 15':'ship-state'}, inplace = True)

In [40]:
df

,Sales Data,Status,Fulfilment,ship-service-level,Category,Size,Courier Status,Quantity,ship-city,ship-state,Unnamed: 18
0,Date,Status,Fulfilment,ship-service-level,Category,Size,Courier Status,Qty,ship-city,ship-state,fulfilled-by
1,2022-04-30 00:00:00,Cancelled,Merchant,Standard,Set,S,cancelled,0,MUMBAI,MAHARASHTRA,Easy Ship
2,2022-04-30 00:00:00,Shipped - Delivered to Buyer,Merchant,Standard,kurta,3XL,Shipped,1,BENGALURU,KARNATAKA,Easy Ship
3,2022-04-30 00:00:00,Shipped,Amazon,Expedited,kurta,XL,Shipped,1,NAVI MUMBAI,MAHARASHTRA,NaN
4,2022-04-30 00:00:00,Cancelled,Merchant,Standard,Western Dress,L,cancelled,0,PUDUCHERRY,PUDUCHERRY,Easy Ship
...,...,...,...,...,...,...,...,...,...,...,...
128971,2022-05-31 00:00:00,Shipped,Amazon,Expedited,kurta,XL,Shipped,1,HYDERABAD,TELANGANA,NaN
128972,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,M,Shipped,1,GURUGRAM,HARYANA,NaN
128973,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Western Dress,XXL,Shipped,1,HYDERABAD,TELANGANA,NaN
128974,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,XS,Shipped,1,Halol,Gujarat,NaN
128975,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,S,Shipped,1,Raipur,CHHATTISGARH,NaN

In [23]:
df.rename(columns = {'Unnamed: 18':'fulfilled-by'}, inplace = True)

In [25]:
df = df.drop([0])

In [26]:
df["fulfilled-by"] = df["fulfilled-by"].fillna('Others')

In [27]:
df

,Sales Data,Status,Fulfilment,ship-service-level,Category,Size,Courier Status,Quantity,Unnamed: 13,ship-city,ship-state,fulfilled-by
1,2022-04-30 00:00:00,Cancelled,Merchant,Standard,Set,S,cancelled,0,INR,MUMBAI,MAHARASHTRA,Easy Ship
2,2022-04-30 00:00:00,Shipped - Delivered to Buyer,Merchant,Standard,kurta,3XL,Shipped,1,INR,BENGALURU,KARNATAKA,Easy Ship
3,2022-04-30 00:00:00,Shipped,Amazon,Expedited,kurta,XL,Shipped,1,INR,NAVI MUMBAI,MAHARASHTRA,Others
4,2022-04-30 00:00:00,Cancelled,Merchant,Standard,Western Dress,L,cancelled,0,INR,PUDUCHERRY,PUDUCHERRY,Easy Ship
5,2022-04-30 00:00:00,Shipped,Amazon,Expedited,Top,3XL,Shipped,1,INR,CHENNAI,TAMIL NADU,Others
...,...,...,...,...,...,...,...,...,...,...,...,...
128971,2022-05-31 00:00:00,Shipped,Amazon,Expedited,kurta,XL,Shipped,1,INR,HYDERABAD,TELANGANA,Others
128972,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,M,Shipped,1,INR,GURUGRAM,HARYANA,Others
128973,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Western Dress,XXL,Shipped,1,INR,HYDERABAD,TELANGANA,Others
128974,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,XS,Shipped,1,INR,Halol,Gujarat,Others
128975,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,S,Shipped,1,INR,Raipur,CHHATTISGARH,Others

In [28]:
df

,Sales Data,Status,Fulfilment,ship-service-level,Category,Size,Courier Status,Quantity,Unnamed: 13,ship-city,ship-state,fulfilled-by
1,2022-04-30 00:00:00,Cancelled,Merchant,Standard,Set,S,cancelled,0,INR,MUMBAI,MAHARASHTRA,Easy Ship
2,2022-04-30 00:00:00,Shipped - Delivered to Buyer,Merchant,Standard,kurta,3XL,Shipped,1,INR,BENGALURU,KARNATAKA,Easy Ship
3,2022-04-30 00:00:00,Shipped,Amazon,Expedited,kurta,XL,Shipped,1,INR,NAVI MUMBAI,MAHARASHTRA,Others
4,2022-04-30 00:00:00,Cancelled,Merchant,Standard,Western Dress,L,cancelled,0,INR,PUDUCHERRY,PUDUCHERRY,Easy Ship
5,2022-04-30 00:00:00,Shipped,Amazon,Expedited,Top,3XL,Shipped,1,INR,CHENNAI,TAMIL NADU,Others
...,...,...,...,...,...,...,...,...,...,...,...,...
128971,2022-05-31 00:00:00,Shipped,Amazon,Expedited,kurta,XL,Shipped,1,INR,HYDERABAD,TELANGANA,Others
128972,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,M,Shipped,1,INR,GURUGRAM,HARYANA,Others
128973,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Western Dress,XXL,Shipped,1,INR,HYDERABAD,TELANGANA,Others
128974,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,XS,Shipped,1,INR,Halol,Gujarat,Others
128975,2022-05-31 00:00:00,Shipped,Amazon,Expedited,Set,S,Shipped,1,INR,Raipur,CHHATTISGARH,Others